<VirtualHost comforthrmdocs.test:80>
    <Directory "{$path}/htdocs/comforthrmdocs/www/dist">
        Options FollowSymLinks Indexes
        AllowOverride All
        Order deny,allow
        allow from All
    </Directory>

    ServerName comforthrmdocs.test
    ServerAlias comforthrmdocs.test 127.0.0.1

    ScriptAlias /cgi-bin/ "d:/xampp/htdocs/cgi-bin/"
    DocumentRoot "d:/xampp/htdocs/comforthrmdocs/www/dist"
    ErrorLog "d:/xampp/apache/logs/error.log"
    CustomLog "d:/xampp/apache/logs/access.log" combined

    #Enable mod_rewrite
    #RewriteEngine On
    #RewriteRule ^/comforthrmdocs/assets/(.*\.(png|jpg|js|css|woff2))$ /assets/$1 [L]
    #RewriteRule ^/comforthrmdocs/(.*\.(png|jpg|js|css|woff2))$ /$1 [L]
    #RewriteRule ^/comforthrmdocs/(.*)$ /$1 [L]

</VirtualHost>